.clase2{
    width: 200px;
    height:360px;
    float: left;
}

.carousel-control-prev {
    left: 280px;
    border-bottom: 100px;
    font-size: 40px;
}
 
.carousel-control-next {
    right: 280px;
    border-bottom: 100px;
    font-size: 40px;
}

.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.carousel-indicators li {
    background-color: red;
}